body {
    background-color: black;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

.project {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.project-container {
    background-color: #333;
    padding: 20px;
    width: 80%; /* Adjust based on preference */
    border-radius: 10px;
}

.project-description, .project-container p {
    color: #eee;
}

.project-container a {
    color: #62b1f7; /* Light blue color for links */
    text-decoration: none;
}

.project-container a:hover {
    text-decoration: underline;
}

.project-screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust '100px' based on your preference for minimum width */
    gap: 10px; /* Space between screenshots */
    justify-content: center; /* Center the grid items if they don't fill the full width */
    padding: 20px 0; /* Optional: adds padding above and below the screenshot grid */
}

.project-screenshots img {
    width: 100%; /* Make images responsive within their grid item */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for larger screens */
@media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .project-screenshots {
        grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
        grid-auto-rows: auto; /* Adjust row height automatically */
    }
}