body {
    background-color: black;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

.project {
    display: flex;
    justify-content: center;
}

.project-container {
    background-color: #333;
    padding: 0 20px 20px; /* top, right and left, bottom */
    width: 80%; /* Adjust based on preference */
    border-radius: 10px;
}

.project-description, .project-container p {
    color: #eee;
}

.project-container a {
    color: #62b1f7; /* Light blue color for links */
    text-decoration: none;
}

.project-container a:hover {
    text-decoration: underline;
}

/* Default layout for smaller screens */
.project-screenshots {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    gap: 10px;
    justify-content: center;
}

.project-screenshots img {
    width: 100%; /* Make images responsive within their grid item */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for larger screens */
@media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .project-screenshots {
        grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
        grid-auto-rows: auto; /* Adjust row height automatically */
    }
}